.resultBarContainer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  z-index: 400;
  background-color: #f8f8f8;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s transform;
}

.resultBarCollapse {
  transform: translateX(400px);
}

.resultItemContainer {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 80px;
  margin-top: 20px;
}

.collapseButton {
  border: 0;
  background-color: #f8f8f8;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 5%;
  left: -35px;
}

.notFound {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}
