.title,
.text {
  margin: 0;
}

.title {
  color: #333;
  font-size: 2rem;
}

.text {
  color: #444;
  text-align: justify;
  font-size: 1rem;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #d4d4d4;
  margin: 14px 0;
}

.swal-button--confirm {
  background-color: #ddd;
  color: #222;
}
